.estilosContador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 15%;
    background: linear-gradient(45deg,grey, pink, white);

    color:white;
    margin: 10px auto;
    padding: 10px;
}

.contenedorControles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: white;
    width: 90%;
    height: 30px;
}

.botonControl {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background: #101c2b;
}
.botonControl:disabled{
    background: grey;
}

.botonAgregar {
    padding: 10px;
    
    border-radius: 50%;
    background: linear-gradient(90deg, black, pink, pink, black);
    color: black;
    width: 75%;
    margin: 10px 0;
}
.botonAgregar:disabled{
    background: grey;
}